<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joey.mysqlproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Simple Schedules"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register" />
        <activity android:name=".SetSchedule"
            android:label="Monday"/>
        <activity
            android:name=".HomePage"
            android:label="Simple Schedules"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SeeOtherSchedules"
            android:label="Other Schedules"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TuesdaySet"
            android:label="Tuesday"/>
        <activity android:name=".WednesdaySet"
            android:label="Wednesday"/>
        <activity android:name=".ThursdaySet"
            android:label="Thursday"/>
        <activity android:name=".FridaySet"
            android:label="Friday"/>
        <activity android:name=".SaturdaySet"
            android:label="Saturday"/>
        <activity android:name=".SundaySet"
            android:label="Sunday"/>
        <activity android:name=".CheckSchedule"></activity>
    </application>

</manifest>